body {
	background-color: #58B3B6;
	color: #fff;
}

/* Players info  */

.info {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.player {
	margin-top: 10px;
}

.navButton {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;	
}

.hide {
	display: none;
}

.inputRow {
	margin-top: 10px;
}

/* Board */

.board {
	width: 450px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: -webkit-flex;
	display: flex;
	width: 450px;
	height: 150px;
}

.square {
	width: 150px;
	height: 150px;
	border-width: 2px;
	text-align: center;
	font-size: 120px;
}

.square.top {
	border-bottom-style: solid;
}

.square.bottom {
	border-top-style: solid;
}

.square.left {
	border-right-style: solid;
}

.square.right {
	border-left-style: solid;;
}

/* Status Bar */

.status {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

#reset {
	font-size: 40px;
	text-align: center;
}

#winner {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 40px;
	text-align: center;
}